<div class="panel-header">
  <div class="d-flex">
    <div class="flex-grow-1 d-flex align-items-center">
      <h3 class="mb-0">{{ title }}</h3>
    </div>
    <div class="p-0 text-right">
      <button type="button" class="btn btn-close btn-link border-0 pb-0" (click)="close()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </div>
  <p *ngIf="description" [innerHTML]="description"></p>
</div>